Source: rq-ruby1.8
Section: utils
Priority: extra
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Pjotr Prins <pjotr.debian@thebird.nl>, Steffen Moeller <moeller@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://codeforpeople.com/
Vcs-Git: git://git.debian.org/git/pkg-escience/rq-ruby1.8.git
Vcs-browser: http://git.debian.org/?p=pkg-escience/rq-ruby1.8.git

Package: rq-ruby1.8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libposixlock-ruby1.8, libsqlite3-ruby1.8, ruby1.8
Description: Linux Clustering with rq: Small Is Beautiful
 Simply create an NFS-mounted priority queue and let nodes pull
 jobs from it as fast as they can? No scheduler, no process 
 migration, no central controller, no kernel mods, no ssh 
 key exchange, but with simple interface and yaml output - ideal 
 for cloud computing. Note: you don't need to know Ruby to use rq!

# Package: rq-doc
# Architecture: all
# Section: doc
# Depends: ${misc:Depends}
# Description: Documentation for rq

